<style>
    .container {
        margin: 10px auto;
    }

    .col-md-3 {
        margin: 0 10px;
    }

    .col-md-8.offset-md-1 {
        margin: 0 10px;
    }
</style>

<main>
    <% if flash[:notice] %>
        <div class="alert alert-success">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p style="font-size: 35px;">User info</p>
                <%= render 'users/user', user: @user %>
                <%= render 'books/new', book: @book %>
            </div>
            <div class="col-md-8 offset-md-1">
                <%= render 'books/list', books: @books %>
            </div>
        </div>
    </div>
</main>
